#myself {
    border-radius: 45%;
    display:block;
    margin-left: auto;
    margin-right:auto;
    height: 20rem;
   
    text-align: center;
    transition: all .2s ease-in-out; 

}

#myself:hover {
    transform: scale(1.05); 
}

p {
    text-align: center;
    line-height: 25px;
    margin-left: 150px;
    margin-right: 150px;

}

.center {

    text-align: center;

}

.footer {
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}